.searchArea{
    width: 70%;
    height: 180px;
    margin-top: 50px;  
    left: 0%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgb(98, 142, 223);
}

.searchbar{
    width: 350px;
    height: 50px;
    background-color: rgb(102, 61, 172);
    color: rgb(255, 236, 236);
    box-shadow: 3px 3px rgba(67, 20, 177, 0.638);
    border:1px rgb(72, 17, 128);
    border-radius: 1px;
    margin-top: 50px;
    font-size: 26px;
    font-family: "Pokemon";
    letter-spacing: 7px;
    position: relative;
}

.searchbar:focus{
    outline: none;
    background-color: rgb(75, 29, 112);
    transition: 1s;
    
}


.searchText{
    letter-spacing: 7px;
}


.pokeball{
    position: absolute;
    width: 100px;
    top: 130px;
    right: 350px;
    animation: toright 4s infinite;
}

.pokeball2{
    position: absolute;
    width: 100px;
    left: 350px;
    top: 130px;
    animation: toleft 4s infinite;
}

@keyframes toright  {
    from {
        width: 10px;
        right:40%;
        top: 170px;
    }
    to{
        right: 350px;
        top: 130px;
    }
}

@keyframes toleft {
    from{
        width: 10px;
        left: 40%;
        top: 170px;
    }
    to{
        left: 350px;
        top: 130px;
    }
}

