.biggest-container{
    background-color: rgb(135, 110, 234);
    min-width: 300px;
    height: 500px;
    width: 30%;
    position: relative;
    float: left;
    margin: 10px;
    border-radius: 10px;
    margin-left: 0px;
    padding-left: 7px;
}

.div-container{
    min-width: 150px;
    max-width: 90%;
    width: 90%; 
    height: 460px;
    background-color:rgb(81, 36, 178);
    text-align: center;
    margin: 10px;
    display: grid;
    color: rgb(255, 216, 216);
    justify-content: center;
    transition: 1s;
    animation: opacityEvent 2s;
    border-radius: 2px;
    font-size: 30px;
    letter-spacing: 6px;
    margin-left: 15px;
    margin-top: 20px;
}

@keyframes opacityEvent {
    from {
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}

.image{
    margin-top: 10px;
    background-color: transparent;
    width: 200px;
    height: 200px;
}

.card{
    position: absolute;
    width: 88.5%;
    height: 460px;
    background-color: rgb(81, 36, 178);
    transition: 1s;
    font-size: 10px;
    border-radius: 50%;

}

.card:hover{
    width: 88.5%;
    height: 460px;
    background-color: rgb(36, 47, 145);
    color: rgb(255, 153, 0);
    font-size: 20px;
    border-radius: 2px;
}



