.header{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 200;
}

.author{
    text-align: center;
    width: 15%;
    height: 60%;
    max-height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

@media screen and (max-width : 768px){
    .author{
        height: 40%;
        width: 30%;
        margin-top: 30px;
    }
}
